VARIABLES

In [4]:
a=5 #VARIABLE IS INTEGER
print(a)
print(type(a)) #TO GET TYPE OF VARIABLE

5
<class 'int'>

In [2]:
b=5.7 #VARIABLE IS FLOAT
print(b)
print(type(b)) #TO GET TYPE OF VARIABLE

5.7
<class 'float'>

In [18]:
f=5+6j #VARIABLE IS complex
print(f)
print(type(f)) #TO GET TYPE OF VARIABLE

(5+6j)
<class 'complex'>

In [10]:
c= "world" #VARIABLE IS string
print(c)
print(type(c)) #TO GET TYPE OF VARIABLE

world
<class 'str'>

In [12]:
d= [1,2,3,4] #VARIABLE IS list
print(d)
print(type(d)) #TO GET TYPE OF VARIABLE

[1, 2, 3, 4]
<class 'list'>

In [14]:
e= (1,2,3,4) #VARIABLE IS tuple
print(e)
print(type(e)) #TO GET TYPE OF VARIABLE

(1, 2, 3, 4)
<class 'tuple'>

In [49]:
#to get list of all variables assigned
%whos

Variable               Type        Data/Info
--------------------------------------------
a                      int         5
b                      float       5.7
c                      str         world
d                      list        n=4
dataframe_columns      function    <function dataframe_colum<...>ns at 0x00000211B48D7420>
dataframe_hash         function    <function dataframe_hash at 0x00000211B31E68E0>
dtypes_str             function    <function dtypes_str at 0x00000211B48D77E0>
e                      tuple       n=4
f                      complex     (5+6j)
get_dataframes         function    <function get_dataframes at 0x00000211B48D76A0>
getpass                module      <module 'getpass' from 'C<...>conda3\\Lib\\getpass.py'>
hashlib                module      <module 'hashlib' from 'C<...>conda3\\Lib\\hashlib.py'>
import_pandas_safely   function    <function import_pandas_s<...>ly at 0x00000211B48D6200>
is_data_frame          function    <function is_data_frame at 0x00000211B48D7740>
json                   module      <module 'json' from 'C:\\<...>\Lib\\json\\__init__.py'>
l                      str         my
m                      str         name
n                      str         is

In [31]:
l = "my"
m = "name"
n = "is"
print(l,m,n)

my name is

In [33]:
l = "my"
m = "name"
n = "is"
print(l+m+n)

mynameis

In [37]:
l = "my"
m = "name"
n = "is"
print(l+" "+m+" "+n)

my name is

IN BUILT FUNCTIONS OF PYTHON

In [58]:
#absolute function - for getting absolute value (without negative)
x = abs(-4.32)
print(x)

y = abs(7)
print (y)

z = abs(5+9j)
print(z)

4.32
7
10.295630140987

In [62]:
#binary function - for getting binary form
p = bin(13)
print(p)

s = bin(36)
print(s)

0b1101
0b100100

In [64]:
#bytes function - for converting to bytes format
k = bytes(6)
print(k)

b'\x00\x00\x00\x00\x00\x00'

In [1]:
#character function - to change uni code to character
x = chr(97)
print(x)

y = chr(98)
print(y)

z = chr(99)
print(z)

l = chr(94)
print(l)

m = chr(95)
print(m)

a
b
c
^
_

In [4]:
#complex function - to get complex number
d = complex(8,9)
print(d)

e = complex(6)
print(e)

f = complex(0,7)
print(f)

(8+9j)
(6+0j)
7j

In [76]:
#flot function - convert to decimal
f = float(7)
print(f)

g = float(6.5)
print(g)

7.0
6.5

In [78]:
#int function - convert to integer
f = int(7)
print(f)

g = int(6.5)
print(g)

7
6

In [86]:
#string function - convert to string
c = str(6789)
print(c)
print(type(c))

6789
<class 'str'>
67.89
<class 'str'>

In [6]:
x = input("enter your name")
print(x)

print('hello',x)

enter your name manu

manu
hello manu

In [6]:
r = input('marks') #input function will automatically make the variable as string type.
print(type(r))

marks 90

<class 'str'>

In [5]:
#above case mark 90 is of string type, input values will always be string, for getting int,
r = int(input('marks'))
print(type(r))

marks 90

<class 'int'>

CONTROL FLOW STATEMENTS

CONDITIONAL STATEMENTS

In [17]:
#if statement
a = int(input('percentage scored'))
if a>90:
    print('A grade')
if a>80 and a<90:
    print('B grade')



# Code Works â€” But Using elif Is Better Practice

a = int(input("Percentage scored: "))

if a > 90:
    print("A grade")
elif a > 80:
    print("B grade")
elif a > 70:
    print("C grade")
else:
    print("Needs Improvement")

percentage scored 89

B grade

In [43]:
#if - else statement
#write program to print hello if input is multiple of 5 else print bye
a =int(input('give a number'))
if a%5==0:
       print('hello')
else:
    print('bye')

give a number 55

hello

In [1]:
#ACCEPT A CITY FROM USER AND PRINT THE MONUMENT

city = input('Enter a city')
if city=='Delhi':
    print('Red Fort')
if city=='Agra':
    print('Taj Mahal')
if city=='Orrisa':
    print('Konark Temple')
if city=='Hyderabad':
    print('Charminar')
else:
    print('no record')
# This does'nt work, use if-elif-else

Enter a city Delhi

Red Fort
no record

In [47]:
#if - elif - else statement
#ACCEPT A CITY FROM USER AND PRINT THE MONUMENT
city = input('Enter a city')
if city=='Delhi':
    print('Red Fort')
elif city=='Agra':
    print('Taj Mahal')
elif city=='Orrisa':
    print('Konark Temple')
elif city=='Hyderabad':
    print('Charminar')
else:
    print('no record')

Enter a city Agra

Taj Mahal

LOOPS

In [5]:
# for loop- Used when you know how many times you want to loop. Loop for a fixed finite number of times.
# while loop- Used when the loop depends on a condition, not count. Loop till condition is met.

#while loop
#write a program to display numbers 1 to 5

i = 1
n = 5
while i<=n:
    print(i)
    i = i+1

1
2
3
4
5

In [18]:
#enter a value from user and make a multiplication table till 10
x = int(input('Enter a value'))
i = 1
while i<=10:
    print(x*i)
    i = i+1 

#OR
y = int(input('enter value'))
i =1
while i in range(1,11):
    print(i*y)
    i=i+1


# OR
# a = int(input('Number'))
# for x in range (1,11):
#     print(x*a)

Enter a value 5

5
10
15
20
25
30
35
40
45
50

enter value 9

9
18
27
36
45
54
63
72
81
90

In [20]:
x = 0
while x<25:
    print('hello')
    x = x+1

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [17]:
#using else statement in while loop
x = 0
while x<25:
    print('hello')
    x = x+1
else:
    print('this is the end')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
this is the end

In [1]:
# while True â€“ Infinite Loop
# while True: means "loop forever unless I tell you to stop".
# Itâ€™s usually used with break to stop when you want.

# Example: Number Guessing Game

secret_number = 7

while True:
    guess = int(input("Guess the number (1 to 10): "))
    
    if guess == secret_number:
        print("ðŸŽ‰ Correct! You guessed it!")
        break  # Exit the loop if the guess is right
    else:
        print("âŒ Try again.")

Guess the number (1 to 10):  5

âŒ Try again.

Guess the number (1 to 10):  6

âŒ Try again.

Guess the number (1 to 10):  7

ðŸŽ‰ Correct! You guessed it!

In [ ]:
# break and continue
# break: Stops the loop completely.
# continue: Skips the current loop and goes to the next one.

# continue: Skips the rest of the current loop and moves to the next iteration.

for i in range(5):
    if i == 2:
        continue
    print(i)

# Output: 0,1,3,4
# When i == 2, continue skips print(i), so 2 is not printed.


break: Immediately exits the loop (stops the loop entirely).

for i in range(5):
    if i == 3:
        break
    print(i)

# Output: 0,1,2
# When i == 3, break stops the loop â€” it doesn't even check for 4.


# return: Used inside a function to exit the function and optionally send back a value.

def square(x):
    return x * x

result = square(4)
print(result)

# return x * x ends the function and sends 16 back to the caller.

In [19]:
#for loop - to run a loop for a certain number of times
fruits = ['apple','banana','mango','cherry'] #this is a list
for x in fruits:
    print(x)

apple
banana
mango
cherry

In [3]:
#looping through a string
for x in 'banana':
    print(x)

b
a
n
a
n
a

In [12]:
for y in range(3,8):
    print(y)

3
4
5
6
7

In [10]:
#write a program to display numbers 1 to 5
for i in range(1,6):
    print(i)

1
2
3
4
5

In [9]:
# Break and Return

# break: Exits a loop only
    # It stops the loop immediately and jumps outside the loop.
    # Commonly used in for and while loops.

for i in range(1, 10):
    if i == 5:
        break
    print(i)



# return: Exits a function
    # It ends the function completely and can return a value.
    # If you call the function, it sends the result back to the caller.

def greet(name):
    if name == "":
        return "No name entered"
    return f"Hello, {name}!"

print(greet("Jithin"))
print(greet(""))

# return exits the function immediately, no more lines after it will run.



def find_even(numbers):
    for n in numbers:
        if n % 2 == 0:
            print("Even number found!")
            return n  # exits the function
        else:
            print("Not even, checking next...")

print(find_even([1, 3, 7, 4, 5]))

1
2
3
4
Hello, Jithin!
No name entered
Not even, checking next...
Not even, checking next...
Not even, checking next...
Even number found!
4

In [15]:
# Common Use Case: Stop when a match is found

fruits = ["apple", "banana", "mango", "orange"]

for fruit in fruits:
    print(f"Checking {fruit}")
    if fruit == "mango":
        print("Found mango! Stopping.")
        break

# Continue- skips to the next iteration

for i in range(1, 6):
    if i == 3:
        continue
    print(i)

Checking apple
Checking banana
Checking mango
Found mango! Stopping.
1
2
4
5

In [17]:
# Combined Example:

def find_even_with_break(lst):
    for x in lst:
        if x % 2 == 0:
            print(f"Even found: {x}")
            break
    print("Loop ended (but function still running)")

def find_even_with_return(lst):
    for x in lst:
        if x % 2 == 0:
            return f"Even found: {x}"
    return "No even number"

print(find_even_with_break([1,3,5,4,5]))
print(find_even_with_return([1,3,5,4,5]))
print(find_even_with_return([1,3,7,5]))

Even found: 4
Loop ended (but function still running)
None
Even found: 4
No even number

In [25]:
# Create a function that returns the first number in a list that is divisible by 7.

def find_divisible_by_7(numbers):
    for n in numbers:
        if n % 7 == 0:
            return n
    return "No number divisible by 7"

# Test cases
print(find_divisible_by_7([10, 13, 21, 25]))  # âžœ 21
print(find_divisible_by_7([5, 11, 19]))       # âžœ No number divisible by 7


# Same task using break instead of return

def find_divisible_by_7_with_break(numbers):
    for n in numbers:
        if n % 7 == 0:
            print(f"First number divisible by 7: {n}")
            break
    else:
        print("No number divisible by 7")

find_divisible_by_7_with_break([10, 13, 21, 25])  # âžœ prints 21
find_divisible_by_7_with_break([5, 11, 19])       # âžœ prints "No number divisible by 7"

21
No number divisible by 7
First number divisible by 7: 21
No number divisible by 7

In [19]:
# found = False (or True) flag is very common in programming when you need to track whether a certain condition has been metâ€”especially in loops.

numbers = [2, 4, 6, 8, 10]
search = 6

found = False  # Assume not found yet

for n in numbers:
    if n == search:
        found = True
        break  # Exit the loop once found

if found:
    print("âœ… Number found!")
else:
    print("âŒ Number not found.")

âœ… Number found!

In [11]:
words = ['sun', 'moon', 'earth']
found = False

for word in words:
    if word == 'mars':
        found = True
        break

if found:
    print("Found 'mars'")
else:
    print("'mars' not found")

'mars' not found

In [25]:
# enumerate() is a built-in Python function used when looping through an iterable and you want both:
#     The index (position) of each item
#     The value of the item itself

# Basic Syntax: enumerate(iterable, start=0)
# iterable: Any iterable like a list, tuple, string, etc.
# start (optional): The index you want to start counting from (default is 0)


fruits = ['apple', 'banana', 'cherry']

for index, fruit in enumerate(fruits):
    print(index, fruit)

print('\n---------with start-----------\n')

for index, fruit in enumerate(fruits, 1):
    print(index, fruit)

0 apple
1 banana
2 cherry

---------with start-----------

1 apple
2 banana
3 cherry

In [5]:
# Manual indexing
i = 0
for fruit in fruits:
    print(i, fruit)
    i += 1


# Cleaner with enumerate():
for i, fruit in enumerate(fruits):
    print(i, fruit)


# Use enumerate when you want both index and value from a list

0 apple
1 banana
2 cherry
0 apple
1 banana
2 cherry

In [7]:
# Changing the Starting Index: You can start counting from any number:

for i, fruit in enumerate(fruits, start=1):           # Basic Syntax: enumerate(iterable, start=0)
    print(i, fruit)

1 apple
2 banana
3 cherry

In [9]:
colors = ['red', 'blue', 'green']
for i, color in enumerate(colors):
    print(f"Color {i + 1}: {color}")

Color 1: red
Color 2: blue
Color 3: green

return vs print â€“ What's the Difference?
Feature	              return	                                             print
Purpose	              Sends data back to where the function was called	     Displays data to the screen
Use Case	          Needed when you want to reuse the result	             Needed when you want to show the result
Output destination	  Returns to the caller (can store in a variable)	     Goes to the console only
Can you reuse it?	  Yes, store and reuse	                                 No, not reusable
Typical use	          Inside reusable logic or calculation functions	     For debugging or final output to user

USER DEFINED FUNCTIONS

In [26]:
#CREATING A USER DEFINED FUNCTION
def my_function():
    print('hello everyone')

In [28]:
#calling a defined function
my_function()

hello everyone

In [29]:
def my(hi):
    print('Helloooooooo')
# def my(hi): â†’ Defines a function named my that accepts one argument (you named it hi).

my("world")    # Even though you passed "world" as an argument, it wasnâ€™t used in output.


# Use the Argument


def my(hi):
    print(f'Helloooooooo {hi}!')

my("Jithin")

Helloooooooo
Helloooooooo Jithin!

In [1]:
#making the result of 4 students with contact details of school printed in each students result
def contact():
    print('padanilam hss')
    print('padanilam, nooranad','8767858990')

In [3]:
for i in range(4):
    a = input('name of student')
    b = int(input('marks in english'))
    c = int(input('marks in malayalam'))
    d = int(input('marks in science'))
    print()   #This prints a blank line, which adds visual separation between each student's input/output when the code runs.
    contact()
    print()

name of student manu
marks in english 7
marks in malayalam 8
marks in science 9

padanilam hss
padanilam, nooranad 8767858990

name of student gokul
marks in english 9
marks in malayalam 5
marks in science 7

padanilam hss
padanilam, nooranad 8767858990

name of student sasi
marks in english 6
marks in malayalam 5
marks in science 5

padanilam hss
padanilam, nooranad 8767858990

name of student divya
marks in english 9
marks in malayalam 9
marks in science 8

padanilam hss
padanilam, nooranad 8767858990

In [9]:
#Argument
def my_function(first_name):
    print(first_name + 'Raj')
    print(first_name +' '+ 'Raj')

In [13]:
my_function('radha')
my_function('pooja')
my_function('vimal')

radhaRaj
radha Raj
poojaRaj
pooja Raj
vimalRaj
vimal Raj

In [15]:
def my_function(first_name, last_name):
    print(first_name +' '+ last_name)

In [17]:
my_function('vimal','kumar')

vimal kumar

In [24]:
def my_function(first_name, last_name):
    print(first_name , last_name)

In [26]:
my_function('goplan','nair')

goplan nair

In [27]:
#write a program to calculate electricity bill
#if 500 unit used pay Rs 5 for each unit
#if 700 unit used pay Rs 7 for each unit
#if 800 unit used pay Rs 8 for each unit
#if more than 8000 pay Rs 9 for each unit

In [33]:
def electricity_bill(n):
    if n<=500:
        print('your bill amount is',n*5)
    elif n>500 and n<=700:
        print('your bill amount is',n*7)
    elif n>700 and n<=800:
        print('your bill amount is',n*8)
    elif n>800:
        print('your bill amount is',n*9)

In [37]:
def instructions():
    print('last date april 5th')
    print('after last date fine amount 500 will be charged')

In [43]:
for i in range(2):
    a = input('name of customer')
    n = int(input('units used'))
    electricity_bill(n)
    print()
    instructions()

name of customer raj
units used 890

your bill amount is 8010

last date april 5th
after last date fine amount 500 will be charged

name of customer gopu
units used 90

your bill amount is 450

last date april 5th
after last date fine amount 500 will be charged

In [7]:
#OR

def inst():
    print('last date is april6th')


    a = input('name of customer')
    b = int(input('units used'))
    if b <=500:
        print('amount is', b*5)
    elif b>500 and b<=700:
        print('amount is',b*7)
    elif b>700 and b<=800:
        print('amount is',b*8)
    else:
        print('amount is',b*9)
    
    
inst()

last date is april6th

name of customer unni
units used 989

amount is 8901

In [7]:
# Lambda Functions

# Lambda functions are small, anonymous functions defined using the lambda keyword.
# Best used when the function is short-lived and doesn't need a name.

# Single argument
square = lambda x: x**2
print(square(5))  


# Multiple arguments
add = lambda x, y: x + y
print(add(3, 4))  


squares =lambda x,y: (x**2 ,y**2)
print(squares(5,6))


# With map
numbers = [1, 2, 3, 4]
squares = list(map(lambda x: x**2, numbers))
print(squares)


# With filter
evens = list(filter(lambda x: x % 2 == 0, numbers))
print(evens)


# With sorted
points = [(1, 2), (3, 1), (5, 0)]
sorted_points = sorted(points, key=lambda x: x[1])
print(sorted_points)

25
7
(25, 36)
[1, 4, 9, 16]
[2, 4]
[(5, 0), (3, 1), (1, 2)]

STRING

In [4]:
#STRING IS A COLLECTION OF CHARACTER- it is an immutable data type
a = 'hello'
print(a)
print(type(a))

hello
<class 'str'>

In [10]:
#multiline string
a = """I am Jibin
my home town is Padanilam
hello friends"""
print(a)

I am Jibin
my home town is Padanilam
hello friends

In [16]:
#Indexing of strings
a = 'hello everyone'
print(a[9])
print(a[5])
print(a[-6])

r

e

In [20]:
#Slicing of string
d = "I am Jibin my home town is Padanilam"
print(d[0:10])

I am Jibin

In [22]:
d = "I am Jibin my home town is Padanilam"
print(d[0:10:2]) #:2 to skip one letter

Ia ii

In [24]:
d = "I am Jibin my home town is Padanilam"
print(d[::-1]) #to reverse

malinadaP si nwot emoh ym nibiJ ma I

In [26]:
d = "I am Jibin my home town is Padanilam"
print(len(d)) #length of string

36

In [3]:
#upper and lower method
d = "I am Jibin my home town is Padanilam"
print(d.upper())
print(d.lower())

I AM JIBIN MY HOME TOWN IS PADANILAM
i am jibin my home town is padanilam

In [9]:
# .capitalize(): Converts the first character to uppercase, and the rest to lowercase
print(d.capitalize())


# .title(): Each word's first letter capitalized
print(d.title())

I am jibin my home town is padanilam
I Am Jibin My Home Town Is Padanilam

In [3]:
# .strip() is a string method in Python used to remove leading and trailing whitespace (spaces, tabs, newlines) from a string.
text = "   Hello World!   "
print(text.strip())

Hello World!

In [27]:
# You can also provide a string to .strip() to remove specific characters instead of whitespace:

txt = "///important///"
print(txt.strip("/"))  # Output: "important"


# strip() = removes space/newlines from both ends
# lstrip() = removes only from the left
# rstrip() = removes only from the right


x ='giridhar'
x.strip('i')     # Output: 'giridhar' - No 'i' in start or end

x = 'iiigiridharii'
print(x.strip('i'))  # Output: 'giridhar'

important
giridhar

In [30]:
#Replacing Function
d = "I am Jibin my home town is Padanilam"
print(d.replace('Padanilam','Nooranad'))

I am Jibin my home town is Nooranad

In [40]:
#Find Method

d = "I am Jibin my home town is Padanilam"
print(d.find('y'))

12
12

In [1]:
# .isalpha() checks whether a character or string contains only letters (aâ€“z or Aâ€“Z).

x= 'python'
x.isalpha()



# 'a'.isalpha()      # âœ… True
# 'Z'.isalpha()      # âœ… True
# '1'.isalpha()      # âŒ False
# '$'.isalpha()      # âŒ False
# 'abc'.isalpha()    # âœ… True
# 'abc123'.isalpha() # âŒ False

True

In [3]:
# STRING FORMATING

# Basic f-Strings
name = "Jithin"
age = 25
print(f"My name is {name} and I am {age} years old.")

# Formatting Numbers
price = 5
print(f"Price: â‚¹{price:.2f}") #2 decimal places

# Percentage (.0%)
accuracy = 0.85
print(f"Accuracy: {accuracy:.0%}")


# Padding with Zeros (:03)
invoice = 7
print(f"Invoice: {invoice:03}")

data = 56
print(f'Output: {data:05}')


# Nested Expressions

a, b = 4, 7
print(f"Sum is: {a + b}")   #â†’ Sum is: 11

My name is Jithin and I am 25 years old.
Price: â‚¹5.00
Accuracy: 85%
Invoice: 007
Output: 00056
Sum is: 11

In [21]:
# STRING FORMATING

# Text Formatting
msg = "hello world"

print(f"{msg.upper()}")          # HELLO WORLD
print(f"{msg.capitalize()}")     # Hello world
print(f"{msg.title()}")          # Hello World
print(f"{msg.center(20)}")       # center in 20 width

HELLO WORLD
Hello world
Hello World
    hello world

In [25]:
# Alignment and Width
# Syntax: {value:<width}
# Code	Meaning
# <10	Left-align in 10 spaces
# >10	Right-align in 10 spaces
# ^10	Center-align in 10 spaces
# .2f	Format float to 2 decimals


name = "Pen"
qty = 5
price = 2.5
total = qty * price

print(f"{'Item':<10}{'Qty':<5}{'Price':<8}{'Total':<8}")
print(f"{name:<10}{qty:<5}{price:<8.2f}{total:<8.2f}")

Item      Qty  Price   Total
Pen       5    2.50    12.50

In [29]:
# Try formatting this table:

items = [
    {"name": "Pen", "qty": 2, "price": 5},
    {"name": "Notebook", "qty": 1, "price": 50},
    {"name": "Pencil", "qty": 3, "price": 3}
]

print(f"{'Item':<10}{'Quantity':<10}{'Price':<10}")
print('-'*30)
for item in items:
    print(f"{item['name']:<10}{item['qty']:<10}{item['price']:<10.2f}")  # .2f for 2 decimal places

Item      Quantity  Price
------------------------------
Pen       2         5.00
Notebook  1         50.00
Pencil    3         3.00

LIST

In [5]:
#List- used to store multiple items in a single variable. Lists are mutable.
#It is one of the 4 built-in data types in python used to store collections of data.
#Others are- Tuple, Set and Dictionary.
#List items are ordered, changeable and allow duplicates.

my_list = ['apple','orange','mango']
print(my_list)
print(type(my_list))

['apple', 'orange', 'mango']
<class 'list'>

In [17]:
#list constructor
a = list(('a','b','c',6,9,8,7,5,8))
print(a)
print(type(a))

['a', 'b', 'c', 6, 9, 8, 7, 5, 8]
<class 'list'>

In [5]:
my_list_2 = ['apple','orange','mango','apple'] #list allows duplicates (apple appears 2 times)
print(my_list_2)

['apple', 'orange', 'mango', 'apple']

In [7]:
 f = ['goat',8,9.5,'apple',True, False,66] #list can include string, int, float and boolen
print(f)

['goat', 8, 9.5, 'apple', True, False, 66]

In [9]:
#nested list
m = ['hello',5,89,(8,9,7),['goa',67],900] #there can be tuples and lists inside a list
print(m)
print(type(m))

['hello', 5, 89, (8, 9, 7), ['goa', 67], 900]
<class 'list'>

In [11]:
print(len(f))
print(f[5])
print(f[-6])

7
False
8

In [18]:
f[5]= 'mango' #change items/replace items (f.replace will not work for list)
print(f)

['goat', 8, 9.5, 'apple', True, 'mango', 66]

In [20]:
#change a range of item values
f[3:5]=['lmn','opq','rst']
print(f)

['goat', 8, 9.5, 'lmn', 'opq', 'rst', 'mango', 66]

In [22]:
#add an item
f.append('yellow') #Adds the item to the end of the list.
print(f)

['goat', 8, 9.5, 'lmn', 'opq', 'rst', 'mango', 66, 'yellow']

In [24]:
f.insert(2,'blue') #Adds at a specific position. Here 2 is the index
print(f)

['goat', 8, 'blue', 9.5, 'lmn', 'opq', 'rst', 'mango', 66, 'yellow']

In [13]:
#remove/delete an item
f.remove('rst')
print(f)

['goat', 8, 9.5, 'lmn', 'opq', 'mango', 66, 'yellow']

In [15]:
#reverse a list
f.reverse()
print(f)

['yellow', 66, 'mango', 'opq', 'lmn', 9.5, 8, 'goat']

In [28]:
aList = [123, 'xyz', 'tommy', 'abc', 123]
bList = [2009, 'beneli']

aList.append(bList) #Adds the whole object as a single element
print(aList)

[123, 'xyz', 'tommy', 'abc', 123, [2009, 'beneli']]

In [26]:
aList = [123, 'xyz', 'tommy', 'abc', 123]
bList = [2009, 'beneli']

aList.extend(bList) #It does not add bList as a whole â€” it adds each element of bList one by one.
print(aList)

[123, 'xyz', 'tommy', 'abc', 123, 2009, 'beneli']

In [30]:
blist = [8,99,45,33]
blist.sort(reverse = False) ## Sorts in ascending order. For descending blist.sort(reverse=True)
print(blist)

[8, 33, 45, 99]

In [32]:
blist = [8,99,45,33]
blist.sort()  #Sorts the list in place (modifies the original list). By default, it sorts in ascending order (reverse=False).
print(blist)

[8, 33, 45, 99]

In [34]:
aList = [123, 'xyz', 'zara', 'abc', 123, "zara"];
print(aList.count("zara"))

2

In [29]:
#sum of items in list
list = [5,7,9,4,11,15,9,8,11,4,21]
print(len(list))

11

In [39]:
a = 0
for i in range(11):
    a=a+list[i]
    i = i+1
print('sum of the list is',a)


# OR
a = 0
for i in list:
    a = a + i  # or: a += i
print('sum of the list is',a)

sum of the list is 104
sum of the list is 104

In [96]:
#multiply all the numbers in the list
a =[1,2,3,4,5,6,7,8,9,10]
print(len(a))

10

In [100]:
m = 1
for i in range(10):
    m = m*a[i]
    i = i+1
print('the product of list is',m)

the product of list is 3628800

In [1]:
# Get a list of ten elements
List=[]
for i in range(10):
    num = int(input(f'Enter Number {i+1} : '))
    List.append(num)

print('List of numbers:', List)

# OR

print(f'List of numbers: {List}')

Enter Number 1 :  8
Enter Number 2 :  7
Enter Number 3 :  9
Enter Number 4 :  7
Enter Number 5 :  5
Enter Number 6 :  0
Enter Number 7 :  6
Enter Number 8 :  0
Enter Number 9 :  8
Enter Number 10 :  9

List of numbers: [8, 7, 9, 7, 5, 0, 6, 0, 8, 9]
List of numbers: [8, 7, 9, 7, 5, 0, 6, 0, 8, 9]

In [3]:
# List Comprehensions

# List comprehensions are a Pythonic way to create a new list by applying an expression to each item in an iterable (like a list or range). 
# Itâ€™s often more concise and faster than using a traditional for loop.


# Squares of numbers from 0 to 9
squares = [x**2 for x in range(10)]
print(squares)


# Convert temperatures from Celsius to Fahrenheit
celsius = [0, 10, 20, 34.5]
fahrenheit = [(x * 9/5) + 32 for x in celsius]
print(fahrenheit)


# Filter even numbers from a list
numbers = [1, 2, 3, 4, 5, 6]
evens = [n for n in numbers if n % 2 == 0]
print(evens)


# You can use a conditional expression in the comprehension itself:
labels = ['Even' if x % 2 == 0 else 'Odd' for x in range(5)]
print(labels)



# Suppose you want only speeds above 500 km/s
import pandas as pd
df= pd.DataFrame({
    'DOY': [1, 2, 3, 4, 5],
    'Speed': [400, 520, 680, 550, 600]
    })
high_speed = [s for s in df['Speed'] if s > 500]
print(high_speed)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[32.0, 50.0, 68.0, 94.1]
[2, 4, 6]
['Even', 'Odd', 'Even', 'Odd', 'Even']
[520, 680, 550, 600]

TUPLE

In [107]:
# Tuple - to store multiple items in a single variable.
# It is immutable (elements cannot be changed).
# Tuple uses 'parentheses' or round brackets ( ).
# Allows duplicate values.
my_tuple = (1,2,'apple','man',5.8, True,78) # tuple can include string, int, float and boolen
print(my_tuple)
print(type(my_tuple))

(1, 2, 'apple', 'man', 5.8, True, 78)
<class 'tuple'>

In [109]:
abc = () #empty tuple
print(abc)
print(type(abc))

()
<class 'tuple'>

In [11]:
#nested tuple
m = ('hello',5,89,(8,9,7),['goa',67],900) # there can be tuples and lists inside a tuple
print(m)
print(type(m))

('hello', 5, 89, (8, 9, 7), ['goa', 67], 900)
<class 'tuple'>

In [119]:
#tuple with only one element
t1 = ('kidilam')
t2 = ('kidilam',) #add a coma to make string to tuple
print(type(t1))
print(type(t2))

<class 'str'>
<class 'tuple'>

In [123]:
#tuple constructor
a = tuple(('a','b','c',6,9,8,7,5,8))
print(a)
print(type(a))

('a', 'b', 'c', 6, 9, 8, 7, 5, 8)
<class 'tuple'>

In [129]:
print(a[2]) #indexing
print(a[2:9]) #slicing
print(a[1:5:2]) 
print(a[::-1]) #reverse
print(a[::])

c
('c', 6, 9, 8, 7, 5, 8)
('b', 6)
(8, 5, 7, 8, 9, 6, 'c', 'b', 'a')
('a', 'b', 'c', 6, 9, 8, 7, 5, 8)

In [7]:
#editing tuple by converting it to a list
x = ('a','b','c','d','e','f','g')
y = list(x)
y.append(5)
z = tuple(y)
print(z)
print(type(z))

('a', 'b', 'c', 'd', 'e', 'f', 'g', 5)
<class 'tuple'>

In [11]:
#Adding/joining tuples
x = ('a','b','c')
y = (5,6,7)
z = x + y
print(z)

#Multiplying tuples
l = x*2
print(l)

('a', 'b', 'c', 5, 6, 7)
('a', 'b', 'c', 'a', 'b', 'c')

In [5]:
# Max and min in tuple         #can be used with list also
tuple1 = (456, 700, 200)
print(max(tuple1))

print(min(tuple1))

700
200

In [23]:
#write a program to take 3 inputs from user and store it in a tuple.
a = input('name')
b = input('age')
c = input ('occupation')
z = (a,b,c)
print(tuple(z))
print(type(z))

name Raj
age 65
occupation plumber

('Raj', '65', 'plumber')
<class 'tuple'>

In [21]:
#ANOTHER WAY
#write a program to take 3 inputs from user and store it in a tuple.
T = ()
i = 1
while i<=3: 
    x = int(input('give values'))
    T = T + (x,)
    i = i+1
print(T)
print(type(T))


# OR
t=()
i=1
for i in range (3):
    x=(input('ENTER'))
    t = (x,) + t
    i=i+1

print(t)

give values 9
give values 8
give values 7

(9, 8, 7)
<class 'tuple'>

DICTIONARY

In [15]:
#Dictionary used to store data values in key: value pairs
#Are mutable, ordered but not allow duplicates.

a = {
    'colour' : 'yellow',
    'bird' : 'peacock',
    'animal' : 'rabbit'
}
print(a)
print(type(a))
print(len(a))

{'colour': 'yellow', 'bird': 'peacock', 'animal': 'rabbit'}
<class 'dict'>
3

In [29]:
#get keys and values
x = a.keys()
print(x)

#OR
print(a.keys())


y = a.values()
print(y)

dict_keys(['colour', 'bird', 'animal'])
dict_keys(['colour', 'bird', 'animal'])
dict_values(['yellow', 'peacock', 'rabbit'])

In [17]:
print(a['colour'])
print(a.get('colour')) #both method can be used

yellow
yellow

In [19]:
# .get() is a method used with Python dictionaries. It helps you safely access values by their key.

# dictionary.get(key, default)

# key â†’ the key you are trying to look up
# default â†’ value to return if the key does not exist in the dictionary. (This part is optional. If not provided, it returns None.)

# chart = {'b':6,'n':8,'c':5,'d':9}

# print(chart['a'])           # âŒ KeyError
# print(chart.get('a'))       # âœ… Returns None
# print(chart.get('a', 0))    # âœ… Returns 0
# print(chart.get('a', 'not found'))    # âœ… Returns not found

In [5]:
#duplicate not allowed
a = {
    'colour' : 'yellow',
    'bird' : 'peacock',
    'animal' : 'rabbit',
    'colour' : 'black'
}
print(a)

{'colour': 'black', 'bird': 'peacock', 'animal': 'rabbit'}

In [9]:
#dictionary can contail list and tuple
a = {
    'colour' : 'yellow',
    'bird' : 'peacock',
    'animal' : 'rabbit',
    'colour' : 'black',
    'b':(5,6,7,8),
    'c':[0,9,8]
}
print(a)

{'colour': 'black', 'bird': 'peacock', 'animal': 'rabbit', 'b': (5, 6, 7, 8), 'c': [0, 9, 8]}

In [13]:
#dictionary constructor
d = dict(age = 8, name='sanjay', occupation ='plumbing')
print(d)
print(type(d))

{'age': 8, 'name': 'sanjay', 'occupation': 'plumbing'}
<class 'dict'>

In [ ]:
# a = {'name': 'Jithin', 'age': 25}	        âœ…	Proper syntax with {} and :
# a = dict{'name': 'Jithin', 'age': 25}	    âŒ	Wrong use of {} with dict
# a = dict(name='Jithin', age=25)	        âœ…	Correct use of dict() with keywords
# a = {name= 'Jithin', age=25}	            âŒ	Used = instead of :, no quotes
# a = dict('name':'Jithin', 'age':25)	    âŒ	
# a = dict{name='Jithin', age=25}	        âŒ	dict{} is invalid â€” must be ()

In [14]:
#get keys
x = d.keys()
print(x)

dict_keys(['age', 'name', 'occupation'])

In [18]:
#get values
y = d.values()
print(y)

dict_values([8, 'sanjay', 'plumbing'])

In [1]:
# .items() returns all the key-value pairs:


pairs = { 'a': 3, 'b': 5, 'c': 1 }


pairs.items()


# output- dict_items([('a', 3), ('b', 5), ('c', 1)])
# Each item is a tuple â†’ ('a', 3)

dict_items([('a', 3), ('b', 5), ('c', 1)])

In [25]:
#change an item
f = {'colour' : 'yellow','bird' : 'peacock','animal' : 'rabbit'}
f['colour'] = 'black'
print(f)

{'colour': 'black', 'bird': 'peacock', 'animal': 'rabbit'}

In [29]:
#add an item
f = {'colour' : 'yellow','bird' : 'peacock','animal' : 'rabbit'}
f.update(flower = 'lotus')
print(f)
print(type(f))

{'colour': 'yellow', 'bird': 'peacock', 'animal': 'rabbit', 'flower': 'lotus'}
<class 'dict'>

In [34]:
#remove an item
f = {'colour' : 'yellow','bird' : 'peacock','animal' : 'rabbit'}
f.pop('bird')
print(f)
print(type(f))

#OR

f = {'colour' : 'yellow','bird' : 'peacock','animal' : 'rabbit'}
del f['bird']
print(f)
print(type(f))

{'colour': 'yellow', 'animal': 'rabbit'}
<class 'dict'>
{'colour': 'yellow', 'animal': 'rabbit'}
<class 'dict'>

In [35]:
#to empty dictionary
f = {'colour' : 'yellow','bird' : 'peacock','animal' : 'rabbit'}
f.clear()
print(f)
print(type(f))

{}
<class 'dict'>

In [31]:
#merging dictionary
d1 ={5:78, 90:89}
d2 ={9:7,7:6,6:5}
d3 ={5:90,99:99}
d4 ={}
for i in (d1,d2,d3):
    d4.update(i)
print(d4)

{5: 90, 90: 89, 9: 7, 7: 6, 6: 5, 99: 99}

In [49]:
#write a code to get a dictionary with values as the square of key(1-16)
d = dict()
for x in range(1,16):
    d[x] = x**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [11]:
#check weather a given key already exist in a dictonary
d = {1:55, 2:65, 3:78, 4:89, 5:90, 6:89, 9:87}
x = int(input('enter a key'))
y = d.keys()
print(y)
if x in y:
    print('key is present')
else:
    print('key not present')

enter a key 9

dict_keys([1, 2, 3, 4, 5, 6, 9])
key is present

In [15]:
#OR
d = {1:55, 2:65, 3:78, 4:89, 5:90, 6:89, 9:87}
x = int(input('enter a key'))
if x in d:
    print('key is present')
else:
    print('key not present')

enter a key 6

key is present

In [16]:
#OR
d = {1:55, 2:65, 3:78, 4:89, 5:90, 6:89, 9:87}
def is_key_present(x):
    if x in d:
        print('key is present')
    else:
        print('key not present')

In [17]:
is_key_present(5)
is_key_present(56)
is_key_present(1)

key is present
key not present
key is present

SETS

In [1]:
#It is a collection which is unordered, unindexed and unchangeable.

s = {'animal','bat','flower',5,'mother'}
print(s)
print(type(s))

{'animal', 5, 'bat', 'mother', 'flower'}
<class 'set'>

In [ ]:
#Items cannot be changed, but can be added or removed.
#Duplicates are not allowed.
#set can contain int, float, string and boolen.
#set cannot contain list and dict because they are mutable.
#set can contain tuple (imutable).
#nesting is not possible- set cannot contain a set

In [19]:
#set constructor
s = set(('apple','mango','orange'))
print(s)
print(type(s))

{'mango', 'orange', 'apple'}
<class 'set'>

In [20]:
#empty set
x = {}
print(x)
print(type(x))

y = set()
print(y)
print(type(y))

{}
<class 'dict'>
set()
<class 'set'>

In [21]:
#Access items
s = {'animal','bat','flower',5,'mother'}
for x in s:
    print(x) #unordered

animal
5
bat
mother
flower

In [23]:
#Check if an item is present in set
s = {'animal','bat','flower',5,'mother'}
print('animal' in s)
print('girl' in s)

True
False

In [32]:
#add and delete items from set
s = {'animal','bat','flower',5,'mother'}
s.add('boy') #add a specific item
print(s)


l = {78,89,'beauty'}
s.update(l) #merge two sets
print(s)


s.remove('boy') #remove a specific item
print(s)

s.pop() #remove a random item
print(s)

s.clear() #empty a set
print(s)

{'animal', 5, 'boy', 'bat', 'mother', 'flower'}
{5, 'boy', 'beauty', 'flower', 78, 'animal', 89, 'bat', 'mother'}
{5, 'beauty', 'flower', 78, 'animal', 89, 'bat', 'mother'}
{'beauty', 'flower', 78, 'animal', 89, 'bat', 'mother'}
set()

In [26]:
#joining two sets

{'animal', 5, 'boy', 'bat', 'mother', 'flower'}

In [40]:
s = {'animal','bat','flower',5,'mother'}
l = {78,89,'beauty'}
x =s.union(l)
print(x)

{'animal', 5, 'beauty', 89, 'bat', 'mother', 'flower', 78}

In [41]:
# return a new set of identical items from two sets - INTERSECTION
x = {5,6,7,8,9,56}
y = {67,90,7,6,8,88}
print(x.intersection(y))

{8, 6, 7}

MODULES

In [45]:
import math

x = 16
print(math.sqrt(x))

print(math.pow(2,5))

print(math.ceil(x))	            # Round up to nearest int	math.ceil(4.2) = 5
print(math.floor(x))	        # Round down to nearest int	math.floor(4.8) = 4
print(math.trunc(x))	        # Remove decimal part (toward 0)	math.trunc(-4.8) = -4
print(math.fabs(x))	            # Absolute value (float)	math.fabs(-7.5)	= 7.5
print(math.factorial(x))	    # (x factorial)	math.factorial(5) = 120
print(math.isqrt(x)) 	        # Integer square root	math.isqrt(10) = 3


# math.radians(x)	Degrees â†’ Radians (xÂ° â†’ rad)
# math.degrees(x)	Radians â†’ Degrees (x rad â†’ Â°)


# Trigonometric Functions (radians):

    # math.sin(x)
    # math.cos(x)
    # math.tan(x)

# Use radians, or convert degrees first:
print(math.sin(math.radians(30)))  # âžœ 0.5



# Logarithmic Functions:
# Function	        Description
# math.log(x)	    Natural log (base e)
# math.log10(x)  	Log base 10
# math.log2(x)	    Log base 2
# math.exp(x)	    e^x


# Constants in math:
# Constant	    Value
# math.pi	    3.1415926535â€¦
# math.e	    2.7182818284â€¦
# math.tau	    2Ã—pi (6.28...)
# math.inf	    âˆž
# math.nan	    Not a Number

4.0
32.0
16
16
16
16.0
20922789888000
4
0.49999999999999994

In [4]:
import calendar

cal = calendar.month(2020,2) #calendar.month(year, month) returns a multi-line string of the calendar for the specified month and year.

print(cal)

print(calendar.isleap(2018)) #Returns False because 2018 is not a leap year.

print(calendar.isleap(2021))

   February 2020
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29

False
False

In [9]:
# Error Handling

# Error handling is the process of responding to runtime errors (also called exceptions) in your program without crashing it. 
# This is especially important when dealing with:

            # User input
            # File handling
            # Network operations
            # Data analysis


# try:
    # Code that may raise an exception
# except ExceptionType:
    # Code to handle the exception
# finally:
    # Code that runs no matter what


try:
    number = int(input("Enter a number: "))
    result = 10 / number
    print(result)
except ZeroDivisionError:           #This block only runs if the code inside try: causes a division by zero.
                                    #Example: If user enters 0, this message is printed.
    print("You cannot divide by zero!")
except ValueError:                  #This block runs if the user enters text or symbols that can't be converted to an integer.

    print("Invalid input. Please enter a number.")
finally:                            #finally: Always runs, no matter what happened in try or except.

    print("Execution finished")

Enter a number:  9

1.1111111111111112
Execution finished

In [31]:
# datetime

# The datetime module in Python is a built-in module used for working with dates and times-
     # â€” like today's date, time now, date math, formatting, and more.

# Use datetime:
#     Get the current date and time
#     Add or subtract days/weeks
#     Format dates (e.g., "20-Jun-2025")
#     Calculate age, duration, deadlines, etc.


import datetime


now = datetime.datetime.now()     # Get Current Date and Time
print("Current date and time:", now) 


today = datetime.date.today()     # Get Just the Date
print("Todayâ€™s date:", today)


d = datetime.date(2023, 12, 25)     # Create a Custom Date
print("Christmas:", d)

Current date and time: 2025-07-26 20:22:36.813512
Todayâ€™s date: 2025-07-26
Christmas: 2023-12-25

In [35]:
# Date Difference (using timedelta)

from datetime import date, timedelta

d1 = date(2025, 6, 20)
d2 = date(2025, 7, 1)

diff = d2 - d1
print("Days difference:", diff.days)


# Add Days to a Date

future_date = datetime.date.today() + datetime.timedelta(days=10)
print("10 days from now:", future_date)

Days difference: 11
10 days from now: 2025-08-05

In [37]:
# Format a Date (using strftime)

now = datetime.datetime.now()
print(now.strftime("Today is %d-%b-%Y"))


# Format Code	Meaning               Example
#    %d	        Day (2-digit)	      20
#    %m	        Month (2-digit)       06
#    %b	        Month name short	  Jun
#    %Y	        Year (4-digit)	      2025
#    %H	        Hour (24-hour)	      14
#    %I	        Hour (12-hour)	      02
#    %p	        AM/PM	              PM

Today is 26-Jul-2025

In [39]:
# Parse Date from String (using strptime)

dt = datetime.datetime.strptime("25-12-2023", "%d-%m-%Y")
print("Parsed date:", dt.date())

Parsed date: 2023-12-25

In [41]:
# Code to Get DOY

from datetime import date

# Input year, month, day
year = 2025
month = 6
day = 20

# Create a date object
given_date = date(year, month, day)

# Get the DOY using .timetuple().tm_yday
doy = given_date.timetuple().tm_yday

print(f"Date: {given_date} â†’ Day of Year: {doy}")

Date: 2025-06-20 â†’ Day of Year: 171

In [47]:

# Get Date from Year and DOY

from datetime import date, timedelta

def get_date_from_doy(year, doy):
    start = date(year, 1, 1)
    return start + timedelta(days=doy - 1)
print(get_date_from_doy(2025, 171))

Current date and time: 2025-06-26 21:17:54.783316
Todayâ€™s date: 2025-06-26
Christmas: 2023-12-25
Days difference: 11
10 days from now: 2025-07-06
Today is 26-Jun-2025
Parsed date: 2023-12-25
Date: 2025-06-20 â†’ Day of Year: 171
2025-06-20

In [45]:
import pandas as pd

# Read the space-separated file (no header)
df = pd.read_csv(r'H:\Data\MSC_THESIS\New folder\2010_data.txt', sep=r'\s+', header=None)

# Assign column names
df.columns = ['Year', 'DOY', 'Hour', 'Dst']

# Display the DataFrame
print(df.head())

df['Datetime'] = pd.to_datetime(df['Year'], format='%Y') + pd.to_timedelta(df['DOY'] - 1, unit='D') + pd.to_timedelta(df['Hour'], unit='h')

df = df[['Datetime', 'Dst']]

df.head()

   Year  DOY  Hour  Dst
0  2010    1     0    5
1  2010    1     1    4
2  2010    1     2    4
3  2010    1     3    2
4  2010    1     4    0

             Datetime  Dst
0 2010-01-01 00:00:00    5
1 2010-01-01 01:00:00    4
2 2010-01-01 02:00:00    4
3 2010-01-01 03:00:00    2
4 2010-01-01 04:00:00    0

1ï¸âƒ£ pd.to_datetime(df['Year'], format='%Y')
Converts just the year to a datetime object.

Example:
'2008' â†’ 2008-01-01 00:00:00

Every row becomes January 1st of that year initially.

2ï¸âƒ£ pd.to_timedelta(df['DOY'] - 1, unit='D')
Converts day-of-year into a time duration.

DOY - 1 because January 1st is already counted as day 0 in datetime math.

Example:
If DOY = 5 â†’ 5 - 1 = 4 â†’ Timedelta: 4 days
So, Jan 1 + 4 days â†’ Jan 5

3ï¸âƒ£ pd.to_timedelta(df['Hour'], unit='h')
Adds the hour part to the timestamp.

Example: If hour = 3 â†’ Timedelta: 3 hours
So, Jan 5 + 3 hours â†’ 2008-01-05 03:00:00